@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #216bd6;
}

#main-navbar {
  background: #fae036;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.main-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

@media screen and (min-width: 1800px) {
  #main-navbar .container {
    max-width: 1750px;
  }
}

#main-navbar .container {
  display: grid;
  grid-template-columns: 20% 50% 20%;
  grid-gap: 6%;
}

#main-navbar .container .center-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11px;
  gap: 61px;
}
#main-navbar .container .center-nav a.nav-item:hover {
  color: #0e3e83;
  border-bottom: 3px solid #0e3e83;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

#main-navbar .container .left-nav {
  display: flex;
  align-items: center;
  justify-content: start;
}

#main-navbar a {
  color: #000;
}

#main-navbar .container .left-nav img {
  width: 100px;
}

#main-navbar .container .right-nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

#main-navbar .container .right-nav a.about-us {
  margin-right: 25px;
}

#main-navbar .container .right-nav h6 {
  margin-top: 8px;
}
#main-navbar .container .right-nav .btn.employer-login-btn {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
}

#main-navbar .container .right-nav .btn.employer-login-btn:hover {
  background-color: #0e3e83;
  color: #fff;
}

#main-navbar .container .right-nav .btn.candidate-login-btn {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}

#main-navbar .container .right-nav .btn.candidate-login-btn:hover {
  background-color: #0e3e83;
  color: #fff;
}

@media screen and (max-width: 1799px) and (min-width: 1200px) {
  #main-navbar .container {
    max-width: 1500px;
    grid-template-columns: 20% auto 30%;
  }
}

@media screen and (max-width: 992px) {


  #main-navbar .container {
    display: flex;
    grid-gap: unset;
    width: 100%;
    margin-left: 34px;
    padding: 0;
    gap: 0;
  }
  #main-navbar .container .right-nav {
    justify-content: center;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) and (min-width: 993px) {
  #main-navbar .container {
    grid-template-columns: 14% auto 36%;
    grid-gap: 6%;
  }

  #main-navbar .container .center-nav {
    display: none;
  }
  #main-navbar .container .right-nav .btn.employer-login-btn {
    width: auto;
    font-size: 14px;
  }
  #main-navbar .container .right-nav .btn.candidate-login-btn {
    width: auto;
    font-size: 14px;
  }
}


/* MOST RECENT JOBS */

#most-recent-jobs {
  background: #fff;
  padding-top: 30px;
}

#most-recent-jobs .title-section h1 {
  text-align: center;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 20px;
}

/* #most-recent-jobs .carousel-part {
    height: 100px;
}

.carousel-inner {
    padding: 20px;
}

.carousel-inner .carousel-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.carousel-inner .carousel-item img {
    width: 100px;
} */

@media screen and (min-width: 1300px) {
  #search-bar-part .container {
    max-width: 60%;
  }
}

#search-bar-part form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 35px;
  width: 70%;
}

#search-bar-part .filter-icon {
  position: relative;
}

#search-bar-part .filter-icon img {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 33px;
  border-radius: 35px;
}

#search-bar-part input[type="search"] {
  border: none;
  background: transparent;
  width: 100%;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

#search-bar-part input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  /* text-indent: -999px; */
  /* overflow: hidden; */
  width: 120px;
  height: 40px;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: #1e4b8b;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.7;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

#search-bar-part .container {
  padding-bottom: 30px;
  margin-top: 30px;
}

#search-bar-part .container .search-bar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar-part .container .search-bar {
  width: 90%;
  height: 50px;
  background: #fff;
  border: 1px solid #216bd6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}

#search-bar-part .container a.most-recent-jobs {
  margin-left: 80px;
  color: #000;
}

/* #search-bar-part .container .search-bar .search-icon img {
    padding-left: 100px;
    width: 30px;
    height: 30px;
} */

#search-bar-part .container .filter-button img {
  width: 50px;
  border: #0e3e83;
  margin-left: 1%;
}

/* ABOUT SECTION */

#about {
  /* background-image: url("/img/CamzOpaqueHiRes.jpg"); */
  /* opacity: 0.5; */
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

#about .container .content a.h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

#about .container .content a:hover {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

/* JOB TYPE SECTION */
@media screen and (min-width: 1400px) {
  #types-of-jobs .container {
    max-width: 1280px;
  }
}

#types-of-jobs {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.jobs-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.job-type {
  border-radius: 15px;
  padding: 30px;
  padding-left: 20px;
  background-color: #cfe9f2;
  position: relative;
}

.job-type .image-part {
  position: absolute;
  right: 0;
  bottom: 0;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 167px;
  height: 141px;
  border-bottom-right-radius: inherit;
}
.job-type.jt-1 .image-part {
  background-image: url("/img/job-types/fresher-jobs-cut-out.png");
}
.job-type.jt-2 .image-part {
  background-image: url("/img/job-types/work-from-home-jobs-cut-out.png");
  right: -20px;
}
.job-type.jt-3 .image-part {
  background-image: url("/img/job-types/weekend-jobs-cut-out.png");
  right: -34px;
  height: 180px;
}

.job-type h6 {
  text-transform: uppercase;
  font-size: 15px;
  color: #000;
}

.job-type h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 23px;
  background-color: #1e4b8b;
  height: 45px;
  text-align: center;
  padding: 10px;
  border-radius: 0.25rem;
}

.job-type a.btn.btn-view-jobs {
  color: #000;
  font-weight: 500;
  margin-top: 59px;
}
.job-type a.btn.btn-view-jobs i {
  padding-left: 4px;
}
.job-type a.btn.btn-view-jobs p {
  margin-bottom: 0;
}

/* HOVER EFFECTS */

.job-type:hover {
  background-color: #fae036;
  border: #000;
  transition: 0.5s;
  cursor: grab;
  box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.job-type:hover h6 {
  color: #0e3e83;
  padding-left: 5px;
}
.job-type:hover h3 {
  color: #000;
  padding-left: 5px;
  background-color: #fae036;
  transition: 0;
}
.job-type:hover a.btn.btn-view-jobs {
  background-color: #1e4b8b;
  color: #fff;
  width: 135px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.job-type:hover a.btn.btn-view-jobs i {
  padding-left: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .jobs-grids {
    grid-gap: 30px;
  }
  .job-type {
    padding: 14px;
    padding-left: 13px;
    padding-top: 17px;
  }
  .job-type h3 {
    margin-top: 14px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .jobs-grids {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

/* REVIEWS SECTION */

.image-logo {
  width: 100%;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  margin-top: 40px;
  background-color: #e5e5e5;
  padding: 30px;
}

.reviews .content h1 {
  font-weight: 600;
  width: 442px;
  line-height: 2;
  font-size: 50px;
  text-transform: capitalize;
}

/* HIRE SECTION */

.hire-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  padding: 50px 40px;
  margin-top: 30px;
  border: 1px solid #216bd6;
  background: #fae036;
  border-radius: 35px;
}

.hire-section .container .content label {
  background: #000;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* .hire-section .container .content {
  display: flex;
    flex-direction: column;
    justify-content: center;
} */

.hire-section .container .content h2 {
  font-size: 44px;
  font-weight: 600;
}

.hire-section .container .content p {
  font-size: 16px;
  font-weight: 600;
}

.hire-section .container .image-part img {
  width: 100%;
}

.hire-section .container .content .homepage-btn {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  border: 2px solid #1e4b8b;
  border-radius: 5px;
  justify-content: center;
  border-radius: 3px;
  background: #1e4b8b;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 45px;
}

/* LATEST ARTICLE SECTION */

@media screen and (min-width: 1500px) {
  #latest-articles-section .container {
    max-width: 1400px;
  }
}

#latest-articles-section .container {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #fbc13d;
  border-radius: 35px;
  margin-top: 30px;
}

#latest-articles-section .container .title-section h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

#latest-articles-section .container .articles-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#latest-articles-section .container .image-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#latest-articles-section .container .image-part img {
  width: 300px;
}

#latest-articles-section .container .articles-part .article-grid .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#latest-articles-section .container .articles-part .article-grid .content p {
  width: 90%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) and (min-width: 993px) {
  #latest-articles-section .container .image-part img {
    width: 100%;
  }
}

/* MEET THE TEAM */

@media screen and (min-width: 1400px) {
  #meet-the-team .container {
    max-width: 1300px;
  }
}

#meet-the-team {
  padding: 20px;
  margin-top: 30px;
  background-color: #fae036;
}
#meet-the-team .title-section h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #1e4b8b;
  margin-bottom: 35px;
}

#meet-the-team .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

#meet-the-team .container .team-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#meet-the-team .container .team-grid .image-part {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
}

#meet-the-team .container .team-grid .image-part:hover {
  width: 270px;
  height: 270px;
  /* transform: scale3d(); */
  transition: 0.4s;
}

#meet-the-team .container .team-grid .image-part.m1 {
  background-image: url("/img/meet-the-team/p1.jpg");
}
#meet-the-team .container .team-grid .image-part.m2 {
  background-image: url("/img/meet-the-team/p2.jpg");
  background-position: center top 61%;
}
#meet-the-team .container .team-grid .image-part.m3 {
  background-image: url("/img/meet-the-team/p3.jpg");
  background-position: center top 30%;
}
#meet-the-team .container .team-grid .image-part.m4 {
  background-image: url("/img/meet-the-team/p4.jpg");
}

#meet-the-team .container .team-grid .designation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

#meet-the-team .container .team-grid .designation h5 {
  margin-bottom: 2px;
}

#meet-the-team .container .team-grid .designation h6 {
  font-weight: 800;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) and (min-width: 993px) {
  #meet-the-team .container {
    grid-gap: 20px;
  }
  #meet-the-team .container .team-grid .image-part {
    width: 100%;
    height: 225px;
  }
}

/* TOP COMPANIES */

#top-companies-logo {
  padding-top: 30px;
}
#top-companies-logo .title-part h2 {
  text-align: center;
  color: #fae036;
  font-size: 20px;
}

.scroll-menu {
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  background: #719fdf;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}

.scroll-menu img {
  margin-right: 20px;
  text-decoration: none;
  padding: 5px 10px;
  width: 100px;
  transition: all 0.3s;
}

.scroll-menu img:hover {
  transform: scale(1.5s);
  display: flex;
  align-items: center;
  width: 120px;
}

/* [5] */
.scroll-menu::-webkit-scrollbar {
  display: none;
}

/* FOOTER */

@media screen and (max-width: 1950px) {
  footer .container {
    max-width: 95%;
  }
}

footer .container {
  display: grid;
  grid-template-columns: 80% 17%;
  grid-gap: 3%;
  margin: auto;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 30px;
}

.left-footer .upper-part {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 30px;
}

.left-footer .upper-part .left-logo-part img {
  width: 100%;
  border-radius: 25px;
}
.left-footer .upper-part .right-sub-part {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.left-footer .upper-part .right-sub-part img {
  width: 24px;
  margin-right: 5px;
}
/* .left-footer .upper-part .right-sub-part a:hover {
  margin: -20px;
  transform: scale(10.5s);
} */
.left-footer .upper-part .right-sub-part h6 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

footer hr {
  border-top: #8a8787 solid 1px;
  width: 50%;
}

.left-footer .lower-part {
  /* display: grid;
  grid-template-columns: 15.5% 6.5% 8.5% 10% 10% 10%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; */
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.left-footer .lower-part h6 {
  font-size: 14px;
}
.left-footer .lower-part a {
  font-size: 12px;
  color: #dad7d7;
}
.left-footer .lower-part .contact-us img {
  width: 20px;
}

.right-footer .scan-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #e5e5e5;
  padding: 15px;
  border-radius: 10px;
  margin-right: 10px;
}

.right-footer .scan-card .content h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 600;
}

.right-footer .scan-card .qr-scanner img {
  width: 100%;
  margin-right: 7px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) and (min-width: 993px) {
  .left-footer .lower-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .left-footer .lower-part .contact-us {
    grid-column-start: 2;
  }
  footer .container {
    grid-template-columns: 75% 25%;
    grid-gap: 0;
  }
  
}

/*navbar media queries */

@media screen and (min-width:992px) and (max-width:1199px){
  #main-navbar .container{
    grid-template-rows: auto auto;
    grid-template-columns: 20% 80%;
    gap: 0;
  }
  #main-navbar .container .center-nav{
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    justify-content: start;
    gap: 90px;
  }
  #main-navbar .container .left-nav{
    grid-row: span 2;
  }
  .jobs-grids{
    grid-template-columns: repeat(2, 1fr);
  }
  
  #latest-articles-section .container .articles-part{
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews,
  #meet-the-team .container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
} 

@media screen and (max-width:992px){
  footer .container {
    grid-template-columns: 1fr;
}
  #meet-the-team .container{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .reviews,
  #latest-articles-section .container .articles-part,
  .jobs-grids{
    grid-template-columns: 1fr;
  }
  .hire-section .container{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 20px;
  }
  .reviews .content h1{
    width: 90%;
    line-height: 1.4;
    font-weight: 700;
  }
  .reviews{
    gap: 30px;
  }
  .left-footer .lower-part {
    display: grid;
    justify-content: space-around;
    color: #fff;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
  .right-footer .scan-card{
    width: 400px;
  }
}

@media screen and (max-width:767px){
  #meet-the-team .container{
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .reviews .content h1{
    font-size: 22px;
  }
  .left-footer .lower-part {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  footer .container{
    grid-template-columns: 1fr;
  }
  .job-type h3{
    font-size: 18px;
    padding: 12px;
  }
  .hire-section .container .content h2{
    font-size: 32px;
  }
  .hire-section .container{
    padding: 35px 30px;
  }
  #latest-articles-section .container{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .right-footer .scan-card{
    width: auto;
  }
  #main-navbar .container .center-nav {
    display: none;
  }
  #main-navbar .container .right-nav .btn.employer-login-btn {
    width: auto;
    font-size: 14px;
  }
  #main-navbar .container .right-nav .btn.candidate-login-btn {
    width: auto;
    font-size: 14px;
  }
}

